<div>
	<div class="childList" id="list-map-{{r.codeName}}" ng-click="preventHide($event)">
		<div class="searWrap">
			<div class="sear"><input type="text" id="sear-{{r.codeName}}" class="txt" placeholder="请输入关键字"><i class="ico btn" id="go-sear-{{r.codeName}}"></i></div>
		</div>
		<div ng-if="r.codeName!=='timeCode'" ng-include="'app/template/searList.html'" id="sear-list-{{r.codeName}}" class="search-list"></div>
		<map-radio-ztree data="r.objLst" id="map-in-{{r.codeName}}"></map-radio-ztree>						
	</div>
</div>