<div ng-controller="growthRateCtrl as grc" ng-show="grc.show">
	<div class="header">
		<span class="title"><i class="ico"></i>增长率</span>
		<span class="ico ico-close" ng-click="grc.show = false;wb.showWindow = false"></span>
	</div>
	<div class="body">
		<div class="conditions">
			<div ng-repeat="c in grc.conditions">
			<label ng-click="grc.selectedConditions = c.name"><span class="checkboxs" ng-class="{'selected':grc.selectedConditions===c.name}"><i class="ico ico-del"></i></span>{{c.title}}</label>
			</div>
		</div>
		
		<div class="buttons">
			<span class="btn apply" ng-click="grc.goApply()">应用</span>
			<span class="btn del" ng-click="grc.clear()">清除</span>
			<span class="btn cancel" ng-click="grc.show=false;wb.showWindow = false">取消</span>
		</div>
	</div>
</div>