<div class="window save">
	<div class="header">
		<span class="title"><i class="ico"></i>保存到收藏夹</span>
		<span class="ico ico-close" ng-click="sfc.show=false;wb.showWindow = false"></span>
	</div>
	<div class="body">
		<div class="list-item">
			<div class="labels">名称</div>
			<div class="inputs">
				<input type="text" ng-model="sfc.fileName" style="text-indent: 10px;" maxlength="50" />
			</div>
			<div class="clear"></div>
		</div>
		<div class="list-item">
			<div class="labels">位置</div>
			<div class="inputs" ng-click="sfc.prevent($event)">
				<i class="ico"></i>
				<input type="text" ng-model="sfc.currentSelected.collectionName" readonly="readonly" />
				<span class="dropDown"ng-click="sfc.showSelect=!sfc.showSelect"><i></i></span>
				<folder-list class="folder-list" list="sfc.folderList" show="sfc.showSelect"></folder-list>
			</div>
			<div class="clear"></div>
		</div>
		<div class="tips">{{sfc.tips}}</div>
		<div class="buttons">
			<span class="btn newFile" ng-click="sfc.showAddWin=true;sfc.newFolderName=''"><i></i>新建文件夹</span>
			<span class="btn apply" ng-click="sfc.goApply()">收藏</span>
			<span class="btn cancel" ng-click="sfc.show = false;wb.showWindow = false">取消</span>
			<div class="clear"></div>
		</div>
	</div>
</div>


	