.highLight {
	width:444px;
	margin-left:-222px;
	.header {
		cursor:move;
		.title {
			margin-left:8px;
			.ico {
				width:16px;
				height:15px;
				background-image:url('../assets/images/tool-chart-ico.png');
				background-position:0 -128px;
				position:relative;
				top:3px;
				margin-right:3px;
			}
		}
	}
	.body {
		width:444px;
		height:372px;
		border:1px solid #666666;
		background:#fff;
		.conditions {
			width:422px;
			margin:20px auto 0 auto;
			.bold {
			font-size:14px;
			font-weight:bold;}
			.condtionShow {
				width:422px;
				height:22px;
				border:1px solid #aaa;
				position:relative;
				margin:5px 0;
				input {
					width:420px;
					border:none;
					height:20px;
					text-indent:10px;
				}
				.dropdown {
					width:12px;
					height:6px;
					background-position:0 -378px;
					position:absolute;
					top:6px;
					right:5px;
					z-index:1001;
				}
				.list {
					width: 422px;
					border:1px solid #aaa;
					position:absolute;
					top:20px;
					left:-1px;
					padding:0;
					display:none;
					z-index:100;
					background:#fff;
					li {
						padding-left:10px;
						line-height:22px;
						cursor:pointer;
					}
					li:hover {
						background:#f3f3f3;
					}
				}
			}
			.nums {
				width:422px;
				height:30px;
				margin-top:20px;
				.num-a {
					width:200px;
					height:22px;
					line-height:22px;
					float:left;
					position:relative;
				}
				.num-b {
					width:200px;
					height:22px;
					line-height:22px;
					float:right;
					position:relative;
				}
				input {
					width:183px;
					height:22px;
					border:1px solid #aaa;
					position:absolute;
					right:0;
					text-indent:5px;
					line-height:22px;
				}
				input:focus {
					outline:none;
				}
			}

		}
		.stylesConditions {
			width:422px;
			margin:20px auto 0 auto;
			.bold {
				font-size:14px;
				font-weight:bold;
			}
			.styles {
				width:420px;
				.bgcolor {
					font-size:12px;
					width:130px;
					float:left;
					height:24px;
					line-height:24px;
					margin-right:18px;
					span {
						float:left;
						margin-right:10px;
					}
					.colorSelect {
						width:48px;
						height:22px;
						border:1px solid #aaa;
						float:left;
						position:relative;
						cursor:pointer;
						.selectedColor {
							width:18px;
							height:18px;
							position:absolute;
							top:1px;
							left:1px;
						}
						.dropdown {
							width:12px;
							height:6px;
							position:absolute;
							top:7px;
							right:5px;
							background-position:0 -378px;
						}
						.colors {
							display:none;
							position:absolute;
							top:20px;
							left:-1px;
							width:183px;
							height:105px;
							background:#fff;
							z-index:100;
							border:1px solid #aaa;
							span {
								display:inline-block;
								width:12px;
								height:12px;
								margin:0 3px;
							}
							.common-colors {
								padding:5px 0;
								height:20px;
								span {
									border:1px solid #ddd;
								}
							}
							.color-list {
								.unit {
									width:12px;
									height:60px;
									float:left;
									margin-right:6px;
									padding:0;
									margin-top:3px;
								}
								
							}
							.other-color {
								height:20px;
								padding:5px 0;
								span {
									border:1px solid #ddd;
								}
							}
						}
					}
				}
				.bgcolor2 {
					width:130px;
				}
				.fontSize {
					font-size:12px;
					width:120px;
					float:right;
					height:24px;
					line-height:24px;
					input {
						width:44px;
						height:22px;
						border:1px solid #aaa;
						float:right;
						line-height:22px;
						text-indent:5px;
					}
					input:focus {
						outline:none;
					}
				}
			}
		}

		.fontStyles {
			margin-top:30px;
			line-height:30px;
			height:30px;
			text-align:left;
			a {
				color:#282828;
				margin:0 10px;
				text-decoration:none;
				cursor:pointer;
				.checkboxs {
					display:inline-block;
					width:10px;
					height:10px;
					background:url(../assets/images/icons.png) -22px 0;
					position:relative;
					top:10px;
					margin-right:3px;
				}
				.checkboxs.selected {
					background:url(../assets/images/icons.png) -22px -15px;
				}
			}
		}
	}
}